.fills{
    width: 100vw;
    height: 100vh;
}

.fillp{
    width: 100%;
    height: 100%;
}

.fillh{
    height: 100%;
}

.fillw{
    width: 100%;
}

.adaptive{
    width: min-content;
    height: min-content;
}

.pad8{
    padding: 8px;
}

.pad16{
    padding: 16px;
}

.no-border{
    border: none;
}

.border{
    border: solid 1px var(--al-stronger-dark);
}

.round6{
    border-radius: 6px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.sticktop{
    position: sticky;
    top: 1rem;
    left: 0;
}