@media (min-width: 768px) {
    .landing-banner {
        position: relative;
        height: 300px;
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: unset;
    }

    .banner-cont {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 160px;
        width: 100%;
        position: absolute;
        bottom: 20px;
    }

    .white-banner {
        background-color: white;
    }

    .blue-banner {
        background-color: lightskyblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px 0 32px;
    }

    .blue-banner > p {
        font-size: 3.2rem;
        line-height: 2.9rem;
        height: 100%;
        display: grid;
        align-items: center;
        color: white;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .al-logo-image {
        position: absolute;
        left: calc(50% - 245px);
        bottom: 0;
        height: 300px;
        width: 490px;
        background: url("/al_logo_4.png") no-repeat;
        background-size: cover;
    }
}